* {
    text-align: center;
}

body {
    display: flex;
    justify-content: start;
    flex-direction: column;
    background: #777;
    color: white;
    font-size: 1.5em;
    box-sizing: border-box;
}