body {
    background: aliceblue;
    margin: 0;
}

.main-div {
    display: flex;
    margin: 0;
    background: silver;
    justify-content: center;
    align-items: end;
}

.container {
    display: flex;
    /*width: 50vw;*/
    height: 50vw;
    background: silver;
    justify-content: space-evenly;
    align-items: center;
    /*align-content: space-evenly;*/
}

.container .box {
    background: #a1c3ff;
    margin: 20px;
    padding: 10px;
    border: solid;
    border-radius: 10px;
    border-color: #0151cc;
    flex-grow: 1;
}

.container .box1{
    flex-grow: 0.001;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

div > div > h1 {
    text-align: center;
}

#main-titile {
    text-align: center;
}