img {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

img.personal {
    filter: drop-shadow(0px 0px 5px #000000);
    height: 300px;
    width: auto;
}

h1, h2, h4 {
    text-align: center;
    background: rgba(216, 243, 233, 0.24);
    color: #040e57;
}

h3 {
    background: rgba(216, 243, 233, 0.24);
    color: #040e57;
    line-height: 1.5em;
}

p {
    background: rgba(246, 235, 174, 0.22);
    color: #330483;
    line-height: 1.6em;
}

ul {
    background: rgba(240, 248, 255, 0.16);
    line-height: 1.6em;
}