* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 1px solid lightslategray;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 10px;
}