body {
    background: silver;
}

h1 {
    writing-mode: vertical-rl;
}

h1:hover {
    writing-mode: horizontal-tb;
    color: #f1d004;
}

p::before {
    content: "➥ ";
}

p::selection {
    background-color: #f1d004;
}

p::first-line {
    color: green;
}