* {
    text-align: center;
}

body {
    display: flex;
    justify-content: start;
    flex-direction: column;
    background: #777;
    color: white;
    font-size: 1.5em;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    margin-bottom: 20px;
}

p {
    border: 1px solid red;
}

.wrapM {
    padding: 10px;
    border: 1px solid blue;
}

.MDur {
    display: inline-block;
    width: 25%;
    margin-right: 10px;
}

.HDur {
    display: inline-block;
    width: 73%;
}